body {
    background-color: #DFE3E8;
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    color: #2D3436
}

.margin {
    margin: 10px;
    padding:20px;
}

.overlay {
    z-index:50;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
}

.popup {
    z-index:100;
    position: fixed;
    top:200px;
    left:200px;
    right:200px;
    background-color:white
}

.center {
    text-align:center;
}

.content {
    display: flex;
    justify-content: center;
    position: relative;
    top: 75px;
}

form {
    border-bottom: 1px solid #2D3436;
    padding: 20px;
    margin: 10px;
}

input {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;;
    margin: 10px;
    padding: 5px;
    height: 25px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #2D3436;
    transition: 0.25s ease-in-out;
}

textarea {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;;
    margin: 10px;
    padding: 5px;
    height: 25px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #2D3436;
    transition: 0.25s ease-in-out;
}

input:hover {
    box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.75);
}

textarea:hover {
    box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.75);
}

textarea::placeholder {
    color: #2D3436;
    transition:0.25s ease-in-out;
}

input::placeholder {
    color: #2D3436;
    transition:0.25s ease-in-out;
}

textarea:focus::placeholder {
    color:white;
}

input:focus::placeholder {
    color:white;
}

#signup-button {
    border: 1px solid white;
}

#description {
    height: 100px;
}

.button {
    background-color: #2D3436;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Cuprum', sans-serif;
    text-decoration: none;
    width: auto;
    font-size: 16px;
    margin: 5px;
    border: 1px solid #2D3436;
}

.navbar {
    display: flex;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    background-color: #2D3436;
    color: white;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    margin:0 10px 0 20px;
}

h2 {
    margin: 0;
}

h1 {
    text-align: center;
}
