body {
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    color: #2D3436
}

.background {
    position: absolute;
    width: 100%;
}

.card {
    background-color: #fff;
    box-shadow:3px 3px 7px -0.5px rgba(45,52,54,0.46);
    /* box-shadow: 3px 3px 0px -0.5px rgba(45,52,54,0.46); */
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* border-radius:6px; */
    border-radius:1px;
    text-align: center;
    width: 250px;
    animation: slide-up 0.25s ease-in-out;
    transition: 0.1s ease-in-out;
}

.card:hover {
    cursor: pointer;
    /* box-shadow: 3px 3px 0px 0px rgba(45,52,54,0.46); */
    box-shadow:3px 3px 10px 3px rgba(45,52,54,0.46);
    margin-top: -2px;
    margin-bottom: 12px;
}

.card-img {
    width: 200px;
    height: 300px;
    object-fit: cover;    
}

.margin {
    margin: 10px;
    padding:20px;
}

.overlay {
    z-index:50;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
}

.popup {
    z-index:100;
    position: fixed;
    top:200px;
    left:200px;
    right:200px;
    background-color:white
}

.center {
    text-align:center;
}

.content {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 20px;
    box-shadow: 0 0 20px -5px;
    width: 100%;
    margin: auto;
    min-height: 92vh;
    background-color: #f3f3f3;
}

form {
    padding-bottom: 20px;
    margin: 10px;
}

input {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    padding: 5px;
    height: 25px;
    width: 200px;
    box-shadow: 3px 3px 0px -1px rgba(45,52,54,0.46);
    border-radius:1px;
    border: none;
}

input:hover {
    box-shadow: 3px 3px 0px 0px rgba(45,52,54,0.46);
}

input::placeholder {
    color: rgb(143, 160, 165);
    transition:0.10s ease-in-out;
}

input:focus::placeholder {
    color:white;
}

#file-input {
    background: white;
    cursor: pointer;
    font-family: 'Cuprum', sans-serif;
    width: 200px;
}

textarea {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    padding: 5px;
    height: 25px;
    width: 200px;
    box-shadow: 3px 3px 0px -1px rgba(45,52,54,0.46);
    border-radius:1px;
    border: none;
}

textarea:hover {  
      box-shadow: 3px 3px 0px 0px rgba(45,52,54,0.46);
}

textarea::placeholder {
    color: rgb(143, 160, 165);
    transition:0.10s ease-in-out;
}

textarea:focus::placeholder {
    color:white;
}

#signup-button {
    border: 1px solid white;
}

#description {
    height: 100px;
}

.cart-ico {
    position: relative;
}

.cart-number {
    position: absolute;
    left: 14px;
    top: 0px;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    background-color: red;
    padding: 1px;
    font-size: 12px;
    height: 13px;
    text-align: center;
    width: 12px
}

.cart-div {
    position: absolute;
    top: 70px;
    right: 10px;
    width: 200px;
    background-color: white;
    color: #2D3436;
    box-shadow: 3px 3px 6px -1px rgba(45,52,54,0.46);
    padding: 10px;
    animation: slide-up 0.3s ease-in-out;
}

@keyframes slide-up{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.button {
    background-color: #2D3436;
    color: white;
    border: none;
    border-radius: 1px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Cuprum', sans-serif;
    text-decoration: none;
    width: auto;
    font-size: 16px;
    margin: 5px;
    border: 1px solid #2D3436;
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.input-container {
    padding-bottom:20px;
}

.plus {
    margin-left:10px;
    width: 10px;
    padding:0;
    font-size: 30px;
    cursor:pointer;
}

.plus:hover {
    color:#636E72;
}

.navbar {
    z-index: 2000;
    display: flex;
    position: sticky;
    left:0;
    top: 0;
    width: 100%;
    background-color: #2D3436;
    color: white;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin:auto;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    margin:10px;
}

.shop-container {
    display: grid;
    grid-template-columns: 100%;
}

.flex {
    align-items: center;
    justify-content: center;
    display: flex;
}

h2 {
    margin: 0;
}

h1 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #2D3436;
}
a:active {
    color: #2D3436;
}

.option {   
    margin-bottom: 20px;
    animation: slide 0.1s ease-in;
}

@keyframes slide {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 42px;
        opacity: 1;
    }
}
/* @keyframes out {
    from {
        height: 42px;
    }
    to {
        height: 0;
    }
} */

.miniatures {
    margin: 10px;
    object-fit: cover;
    width:50px;
    height:50px;
    opacity: 0.7;
}
.miniatures:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 3px 3px 0px -1px rgba(45,52,54,0.46);
    width:60px;
    height:60px;
    margin:0 5px;
    border-radius: 2px;
}

.mini {
    margin: 10px;
    object-fit: cover;
    width:50px;
    height:50px;
}

.mini:hover {
    cursor: pointer;
    opacity:0.8;
}

p {
    text-align: justify;
}

#item {
    padding:20px;
    width: 400px;
    cursor:auto;
    box-shadow: none;
    animation: test 0.1s ease-in-out;
}

.image-div {
    min-height:250px;
}
.item-image {
    max-width: 300px;
    max-height: 230px;
}

@keyframes test{
    0% {transform: scale(0.95)}
    100% {transform: scale(1)}
}

.image-div>img:hover {   
    cursor: pointer;
}

#pick {
    animation: bounce 0.6s ease infinite alternate;
}

#pick:hover {
    animation: bounce 0.3s ease infinite alternate;
}
@keyframes bounce{
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}

.edit-input-name {
    margin-bottom: 5px;
    color: #963436;
    font-style: italic;
}

@media all and (min-width:890px) {
    .card {
        width: 300px;
    }
    .navbar {
        width: 75%;
    }
    .content {
        width: 75%;
    }
    .shop-container {
    display: grid;
    grid-template-columns: 50% 50%;
    }
    #item {
        padding:20px;
        width: 660px;
    }

    .image-div {
        min-height:460px;
    }
    .item-image {
        max-width: 600px;
        max-height: 450px;
    }
    input {
        width: 300px;
    }
    textarea {
        width: 300px;
    }
    #file-input {
        width: 300px;
    }
}
