body {
    background-color: #DFE6E9;
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    color: #2D3436
}

.background {
    position: absolute;
    width: 100%;
}

.card {
    background-color: #fff;
    box-shadow: 3px 3px 0px -0.5px rgba(45,52,54,0.46);
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius:1px;
    text-align: center;
    width: 300px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px rgba(45,52,54,0.46);
    opacity: 0.7;
}

.card-img {
    width: 200px;
    height: 300px;
    object-fit: cover;    
}

.margin {
    margin: 10px;
    padding:20px;
}

.overlay {
    z-index:50;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
}

.popup {
    z-index:100;
    position: fixed;
    top:200px;
    left:200px;
    right:200px;
    background-color:white
}

.center {
    text-align:center;
}

.content {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 20px;
}

form {
    padding-bottom: 20px;
    margin: 10px;
}

input {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    padding: 5px;
    height: 25px;
    width: 300px;
    box-shadow: 3px 3px 0px -1px rgba(45,52,54,0.46);
    border-radius:1px;
    border: none;
}

input:hover {
    box-shadow: 3px 3px 0px 0px rgba(45,52,54,0.46);
}

input::placeholder {
    color: #2D3436;
    transition:0.10s ease-in-out;
}

input:focus::placeholder {
    color:white;
}

#file-input {
    background: white;
    cursor: pointer;
    font-family: 'Cuprum', sans-serif;
    width: 300px;
}

textarea {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    padding: 5px;
    height: 25px;
    width: 300px;
    box-shadow: 3px 3px 0px -1px rgba(45,52,54,0.46);
    border-radius:1px;
    border: none;
}

textarea:hover {  
      box-shadow: 3px 3px 0px 0px rgba(45,52,54,0.46);
}

textarea::placeholder {
    color: #2D3436;
    transition:0.10s ease-in-out;
}

textarea:focus::placeholder {
    color:white;
}

#signup-button {
    border: 1px solid white;
}

#description {
    height: 100px;
}

.cart-ico {
    position: relative;
}

.cart-number {
    position: absolute;
    right: 2px;
    top: 0px;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    background-color: red;
    padding: 1px;
    font-size: 12px;
    height: 13px;
    text-align: center;
    width: 12px;
}

.cart-div {
    position: absolute;
    top: 65px;
    right: 10px;
    width: 200px;
    background-color: white;
    color: #2D3436;
    box-shadow: 3px 3px 0px -1px rgba(45,52,54,0.46);
    padding: 10px;
}

.button {
    background-color: #2D3436;
    color: white;
    border: none;
    border-radius: 1px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Cuprum', sans-serif;
    text-decoration: none;
    width: auto;
    font-size: 16px;
    margin: 5px;
    border: 1px solid #2D3436;
}

.button:hover {
    background-color: #636E72;
    border-color: #636E72;
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.input-container {
    padding-bottom:20px;
}

.plus {
    margin-left:10px;
    width: 10px;
    padding:0;
    font-size: 30px;
    cursor:pointer;
}

.plus:hover {
    color:#636E72;
}

.navbar {
    z-index: 2000;
    display: flex;
    position: sticky;
    left:0;
    top: 0;
    width: 100%;
    background-color: #2D3436;
    color: white;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    margin:10px;
}

.shop-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.flex {
    align-items: center;
    justify-content: center;
    display: flex;
}

h2 {
    margin: 0;
}

h1 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #2D3436;
}
a:active {
    color: #2D3436;
}

.option {   
    margin-bottom: 20px;
}

.item-image {
    max-width: 450px;
    max-height: 450px;
}

.miniatures {
    margin: 10px;
    object-fit: cover;
    width:50px;
    height:50px;
}

#item {
    width: 500px;
    cursor:auto;
}

#item:hover {
    opacity: 1;
}

.image-div {
    min-height:460px;
}

.image-div>img:hover {   
    cursor: pointer;
}